/* 글꼴  */

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* reset */



body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Noto Sans KR';
}


*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
