/* Dimmed */
.fade-enter {
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-name: fadeIn;
}

.fade-leave {
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-name: fadeOut;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Modal */

.modal-enter {
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-name: slideDown;
}

.modal-leave {
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-name: slideUp;
}


@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  75% {
      opacity: 1;
      transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  25% {
      opacity: 1;
      transform: translateY(25px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
